[[extend 'layout.html']]

<div id="app">
  <div class="section" v-for="task in tasks" :key="task.task.id">
    <section v-if="task.task.id == [[=task_id]]">
      <input v-model="task.task.title"/>
      <textarea v-model="task.task.description"></textarea>
      Assigned To: (you may only reassign tasks to your managed users)
      <select v-model="task.task.assigned_to">
        [[for user in managedUsers:]]
        <option value="[[=user.id]]">[[=user.first_name]]  [[=user.last_name]]  ([[=user.username]])</option>
        [[pass]]
      </select>
      Status: 
      <select v-model="task.task.status">
        <option value="pending">Pending</option>
        <option value="acknowledged">Acknowledged</option>
        <option value="rejected">Rejected</option>
        <option value="completed">Completed</option>
        <option value="failed">Failed</option>
      </select>
      Deadline:
      <input type="date" :value="task.task.deadline && ((typeof task.task.deadline != 'string' || task.task.deadline.split(' ')[0]))" @input="task.task.deadline = $event.target.valueAsDate.toISOString().replace('T', ' ').replace('Z', '')"/>
      <button v-on:click="update_task(task.task)">Save Changes</button>
    </section>
  </div>
</div>

[[block page_scripts]]
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="[[=URL('static/js/custom.js')]]"></script>
[[end]]
